{% extends "layout.html" %}

{% block title %}
    Ghost
{% endblock %}

{% block body %}
    <div class="container">
        <div class="seen_movies_list">
            <table>
                <tr>
                    <th>#</th>
                    <th>Img</th>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Runtime(min)</th>
                    <th>Release Date</th>
                    <th>Rating</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td class="movie_list_id">1</td>
                    <td><img src="https://myanimelist.cdn-dena.com/r/96x136/images/anime/2/82596.webp?s=ef7f9260e84e21117eff325b5afe4cda" alt=""></td>
                    <td>Akira</td>
                    <td>Sci-fi</td>
                    <td>124</td>
                    <td>1988</td>
                    <td>9/10</td>
                    <td><a href="Remove" class="btn_remove">Remove</a></td>
                    <td><a href="Edit">Edit</a></td>
                </tr>
                <tr>
                    <td class="movie_list_id">2</td>
                    <td><img src="https://myanimelist.cdn-dena.com/r/96x136/images/anime/7/77356.webp?s=f27e2c2b81f0e5262fcd54fe31ee6adc" alt=""></td>
                    <td>FLCL</td>
                    <td>Sci-fi</td>
                    <td>124</td>
                    <td>2000</td>
                    <td>8/10</td>
                    <td><a href="Remove" class="btn_remove">Remove</a></td>
                    <td><a href="Edit">Edit</a></td>
                </tr>
                <tr>
                    <td class="movie_list_id">3</td>
                    <td><img src="https://myanimelist.cdn-dena.com/r/96x136/images/anime/2/82596.webp?s=ef7f9260e84e21117eff325b5afe4cda" alt=""></td>
                    <td>Akira</td>
                    <td>Sci-fi</td>
                    <td>124</td>
                    <td>1988</td>
                    <td>9/10</td>
                    <td><a href="Remove" class="btn_remove">Remove</a></td>
                    <td><a href="Edit">Edit</a></td>
                </tr>
                <tr>
                    <td class="movie_list_id">4</td>
                    <td><img src="https://myanimelist.cdn-dena.com/r/96x136/images/anime/2/82596.webp?s=ef7f9260e84e21117eff325b5afe4cda" alt=""></td>
                    <td>Akira</td>
                    <td>Sci-fi</td>
                    <td>124</td>
                    <td>1988</td>
                    <td>9/10</td>
                    <td><a href="Remove" class="btn_remove">Remove</a></td>
                    <td><a href="Edit">Edit</a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}