{% extends "layout.html" %}

{% block title %}
    Ghost
{% endblock %}

{% block body %}
    <div class="container mainpage">
        <h1>Library</h1>
        <p>Load database stuff here</p>
        <div class="stats col-md-4">
                <h1>STATS</h1>
                <ul>
                    <li>Your favorite genre is <span style="color: #ec393e">fantasy</span>
                    and you have spent <span style="color: #ec393e">46</span> hours
                    watching movies. Your most viewed movie is <span style="color: #ec393e">Warcraft</span>
                    which you have seen <span style="color: #ec393e">4</span> times. You gave
                        <span style="color: #ec393e">Avatar</span> the highest rating.</li>
                </ul>
            </div>
    </div>
{% endblock %}